api/target/
api/useful_commands.txt
api/.env

scripts/script.sh

Frontend/node_modules/
Frontend/.env
Frontend/dist/

.DS_Store

target/
**/*.rs.bk

.env
.env.*

Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.*

*.log

.DS_Store
.vscode/
.idea/

docker-data/
